---
import { randomUUID } from "node:crypto";
import { isbot } from "isbot";
import Layout from "../layouts/Layout.astro";

const cookie = Astro.cookies.get("astro")?.value;
const homepage = new URL(Astro.request.url).searchParams.get("homepage");
const ua = Astro.request.headers.get("User-Agent");

if (cookie) {
  if (!homepage && !isbot(ua)) {
    await fetch(`${import.meta.env.KV_REST_API_URL}/sadd/visitors/${cookie}`, {
      headers: {
        Authorization: `Bearer ${import.meta.env.KV_REST_API_TOKEN}`,
      },
    });
  }
} else if (!cookie) {
  const cookie = randomUUID();
  Astro.cookies.set("astro", cookie, {
    maxAge: 60 * 60 * 24 * 365 * 1000,
    expires: new Date(+new Date() + 60 * 60 * 24 * 365 * 1000),
  });
}

const res = await fetch(`${import.meta.env.KV_REST_API_URL}/scard/visitors`, {
  headers: {
    Authorization: `Bearer ${import.meta.env.KV_REST_API_TOKEN}`,
  },
});
const json = await res.json();
const count = json.result;
---

<Layout title="Michael's OnlyFans" description="ðŸ¤–ðŸ‘">
  <main class="container">
    <div class="text-xl text-center dark:text-white text-gray-900">
      <span class="text-4xl">{count}</span>
      <p>people have been here looking for my OnlyFans page.ðŸ˜¸</p>
    </div>
  </main>
</Layout>
