---
import { Icon } from "astro-icon";

import ofLogoDark from "../../public/of-logo-dark.svg";
import ofLogoLight from "../../public/of-logo-light.svg";

interface Link {
  name: string;
  icon?: string;
  img?: {
    light: string;
    dark: string;
  };
  url: string;
}

const links: Link[] = [
  {
    name: "Github",
    icon: "mdi:github",
    url: "https://www.github.com/michaeljohneduave",
  },
  {
    name: "Linkedin",
    icon: "mdi:linkedin",
    url: "https://www.linkedin.com/in/meduave",
  },
  {
    name: "Leetcode",
    icon: "simple-icons:leetcode",
    url: "https://leetcode.com/mikedcheck",
  },
  {
    name: "Resume",
    icon: "mdi:resume",
    url: "https://docs.google.com/document/d/1KUjv6__xJ_CHDxpjC4kvi_BAw-xbYL9C",
  },
  {
    name: "Email",
    icon: "mdi:email",
    url: "mailto:hey@meduave.com",
  },
  {
    name: "Onlyfans 💦",
    img: {
      light: ofLogoLight.src,
      dark: ofLogoDark.src,
    },
    url: "/onlyfans",
  },
];
---

<div>
  <div class="flex flex-wrap gap-3 sm:gap-4 px-2 sm:px-4">
    {
      links.map((link) => (
        <a
          href={link.url}
          class="flex items-center gap-2 px-3 py-2 rounded-lg bg-slate-100 dark:bg-dark-bg/90 hover:bg-slate-200 dark:hover:bg-dark-bg text-slate-900 dark:text-white shadow-sm dark:shadow-[0_2px_4px_rgba(255,255,255,0.05),0_-1px_2px_0_rgba(255,255,255,0.02)]"
          target="_blank"
        >
          {link.icon ? (
            <Icon name={link.icon} class="h-5 w-5 sm:h-6 sm:w-6" />
          ) : link.img ? (
            <>
              <img
                src={link.img.light}
                alt={link.name}
                class="h-5 w-5 sm:h-6 sm:w-6 block dark:hidden"
                loading="lazy"
              />
              <img
                src={link.img.dark}
                alt={link.name}
                class="h-5 w-5 sm:h-6 sm:w-6 hidden dark:block"
                loading="lazy"
              />
            </>
          ) : null}
          <span class="text-base sm:text-xl whitespace-nowrap">
            {link.name}
          </span>
        </a>
      ))
    }
  </div>
</div>
