---
import { Icon } from "astro-icon";

import ofIcon from "../../public/ofIcon.svg";

const links = [
  {
    name: "Github",
    icon: "mdi:github",
    url: "https://www.github.com/michaeljohneduave",
  },
  {
    name: "Linkedin",
    icon: "mdi:linkedin",
    url: "https://www.linkedin.com/in/meduave",
  },
  {
    name: "Leetcode",
    icon: "simple-icons:leetcode",
    url: "https://leetcode.com/mikedcheck",
  },
  {
    name: "Resume",
    icon: "mdi:resume",
    url: "https://docs.google.com/document/d/1KUjv6__xJ_CHDxpjC4kvi_BAw-xbYL9C",
  },
  {
    name: "Email",
    icon: "mdi:email",
    url: "mailto:hey@meduave.com",
  },
  {
    name: "Onlyfans 💦",
    img: ofIcon.src,
    url: "/onlyfans",
  },
];
---

<div>
  <div class="flex flex-wrap gap-3 sm:gap-4 px-2 sm:px-4">
    {
      links.map((link) => (
        <a
          href={link.url}
          class="flex items-center gap-2 px-3 py-2 rounded-lg transition-colors hover:bg-white/5 active:bg-white/10"
          target="_blank"
        >
          {link.icon ? (
            <Icon name={link.icon} class="h-5 w-5 sm:h-6 sm:w-6" />
          ) : (
            <img
              src={link.img}
              alt={link.name}
              class="h-5 w-5 sm:h-6 sm:w-6"
              loading="lazy"
            />
          )}
          <span class="text-base sm:text-xl whitespace-nowrap">
            {link.name}
          </span>
        </a>
      ))
    }
  </div>
</div>
