---
import { clsx } from "clsx";
const { name, description, status, logo } = Astro.props;
---

<div
  class="py-4 px-1 sm:p-4 sm:hover:bg-white sm:hover:bg-opacity-5 rounded-md"
>
  <div>
    <img
      class="border-0 object-cover"
      height={80}
      width={80}
      src={logo}
      alt={name}
      loading="lazy"
    />
  </div>
  <div class="text-3xl">
    <span>{name}</span>
  </div>
  <p>{description}</p>
  <span
    >Status: <span
      class={clsx(
        status === "Legacy" && "text-slate-300",
        status === "In development" && "text-green-300",
      )}>{status}</span
    ></span
  >
</div>
